# Input

In [6]:
first_name = input("Enter First Name")
last_name = input("Enter Last Name")

In [9]:
full_name = first_name+' '+last_name
print(full_name)

Regoanul Haque

# Data Type

### String

In [1]:
name = 'Regoanul Haque'
type(name)

str

In [37]:
name.upper() # all capital letter 
name.lower() # all small letter
name.capitalize() # only first letter is capital
name.title() # Capital first letter in each word
name.count('u') # Count 'u' in name
name.endswith('Haque') # Last word is same or not
name.startswith('Reg') # First word is same or not
name.find( 'Ha') # output is index, which index is Ha?
name.split( ) # split every word
name = "Mr@regoanul@haque"
name.split('@') # split before and after @, split count only space and @.
name.replace("@","-") # All @ replace to -
name.replace("@","-",1) # first @ replace to -

'Mr-regoanul@haque'

### String Index

In [36]:
name[5] # name's 5th index
name[-1] # last index
name[0:5] # 0 to 5 index

'Mr@re'

### Numbers

In [38]:
num = 23
type(num)

int

In [47]:
num2 = 23.56
type(num2)

float

### Boolean

In [41]:
is_marrid = True
type(is_marrid)

bool

### Type of conversion

In [50]:
float(num)
complex(num)
round(num2) 
round(num2, 1) # count 1 number after '.'
bool(0)

False

### String Formatting

In [60]:
name = "Alexa Perry"
age = 24
height = 157.67

print("Name:",name, "Age:", age, "Height:", height)
print("Name: {0} Age: {1} Height: {2}".format(name, age,height))
print(f"name: {name} Age: {age} Height: {height: .1f}")

Name: Alexa Perry Age: 24 Height: 157.67
Name: Alexa Perry Age: 24 Height: 157.67
name: Alexa Perry Age: 24 Height:  157.7

# Data Structures

### List

In [63]:
data = [4, 4.55, 3, 3, 6]
data

[4, 4.55, 3, 3, 6]

### Indexing

In [73]:
data[0]
data[-1]
data[::-1] # revarse 

# update
data[0] = 44 # index 0 is updated
data[2:4] = 9,9
data

[44, 4.55, 9, 9, 6]

### List Methods

In [102]:
nums = [3, 45, 3, 7, 78, 788,6]

nums.append(99) # add number at the last
nums.insert(1, -99) # add number at index
nums.extend([3,4,5]) # this list added in the last of nums list
nums.count(3)
nums.index(7) # 7's index number
nums.pop() # remove last value, if we provide index value then they remove this value.
nums.remove(45) # remove the number
nums.reverse()
len(nums) # provide list's length, also use in string
nums.sort() # order, small to big
nums.sort(reverse=True) # from big number to small number 
nums.clear() # list without value

[]

### Shallow copy vs Deep copy

In [111]:
nums = [2, 3, 4, 5, 6, 7]
num3 = nums # shallow copy
num3.append(99) # 99 added in both num3 and nums
nums

[2, 3, 4, 5, 6, 7, 99]

In [115]:
num4 = nums.copy()
num4.append(33) # Deep copy
nums

[2, 3, 4, 5, 6, 7, 99]

### Tuple

In [147]:
t = (3, 45, 6, 7, 8)
t[::-1] # reverse 
t.index(6) # put tuple number output is index number

2

### Set

In [153]:
s1 = {6, 2, 3, 5, 8, 9, 10, 9}
s1.add(33) # add 33  at the last
s1.discard(9) # remove 9, if 9 is not in set no error will given
s1.remove(2) # remove 2, if 2 is not in set error will given
s1.pop() # remove last number
s1

{3, 5, 6, 8, 10}

In [32]:
s1 = {2, 3, 4, 5, 6}
s2 = {7, 3, 4, 8, 9}
s1.union(s2)
s1.intersection(s2)
s1.difference(s2) 
s2.difference(s1)
s1.symmetric_difference(s2) # no common value
s1.symmetric_difference_update(s2) # symmetric_difference value s1 a update korbe.
s1

{2, 5, 6, 7, 8, 9}

### Dictionary

In [22]:
students = {1: "John", 2: "Alexa", 3: "Tessa"}
students[2] = "Alexa Smith" # update 2nd name
students[4] = "Hardin" # add name 
students

{1: 'John', 2: 'Alexa Smith', 3: 'Tessa', 4: 'Hardin'}

In [27]:
students.get(4) # 4th name shown
students.keys() # return all keys
students.values() # return all values
students.items() # return keys and values in pair
# students.pop(2) # if run 2nd time give error
# students.popitem() # last pair pop korbe

students.update({5: "A", 6: "B"})
students.fromkeys([7,8,9], "NA") 
students.setdefault(10, "C") # add korbe like 4
students

{1: 'John', 2: 'Alexa Smith', 3: 'Tessa', 4: 'Hardin', 5: 'A', 6: 'B', 10: 'C'}

### Nesting Data Structure

In [30]:
matrix = [
    [2,3],
    [6,7]
]
matrix [0][0]

2

### Conversion

In [38]:
s1
list(s1)
tuple(s1)
dict([(1,1),(2,4)])

{1: 1, 2: 4}